body {
    font-family: Poppins;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    p,
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 999;

    .phone-email-container {
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        border-bottom: 0.5px solid var(--Brand-green-Gray-02, #E6E6E6);
        padding: 0 100px 8px;

        .phone-container {
            display: flex;
            gap: 12px;
            justify-content: center;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }

            .text {
                color: var(--Black, #000);
                font-size: 16px;
                font-weight: 500;
                line-height: 150%;
            }
        }

        .email-container {
            display: flex;
            gap: 12px;
            justify-content: center;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }

            .text {
                color: var(--Black, #000);
                font-size: 16px;
                font-weight: 500;
                line-height: 150%;
            }
        }
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;
        margin-top: 12px;

        .img-logo-container {
            height: 100%;
        }

        .menu-container {
            ul {
                display: flex;
                gap: 24px;

                li {
                    a {
                        color: var(--Black, #000);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 150%;
                    }
                }
            }
        }

        .btn-container {
            button {
                border-radius: 12px;
                background: var(--Brand-green-Green-09, #008253);
                display: flex;
                height: 48px;
                padding: 10px 24px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.5s ease;
                border: 1px solid transparent;

                &:hover {
                    background: #000;
                    color: white;
                }

                p {
                    color: var(--White, #FFF);
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 150%;
                }
            }
        }
    }
}

main {
    section {
        .design-development-container {
            padding: 140px 180px 174px;

            .content-container {
                display: flex;
                gap: 40px;

                .circle-container {
                    position: relative;

                    .u-img {
                        position: absolute;
                        left: 40px;
                        top: 35px;
                    }

                    .circle {
                        animation: spin 8s infinite linear;
                    }
                }

                @keyframes spin {
                    0% {
                        transform: rotate(360deg);
                    }

                    100% {
                        transform: rotate(0deg);
                    }
                }
            }

            h1 {
                color: #000;
                text-align: center;
                font-size: 90px;
                font-weight: 600;
                line-height: 120%;

                span {
                    color: #00784C;
                    font-family: Poppins;
                    font-size: 90px;
                    font-weight: 600;
                    line-height: 120%;
                }
            }

            .comment-cursor-container {
                position: relative;

                .comment-cursor-img {
                    position: absolute;
                    right: 25%;
                }
            }
        }

        .rubber-laptop-mockup {
            padding: 0 74px;
        }

        .commonly-container {
            padding: 140px 100px 70px 100px;
            display: grid;
            gap: 56px;

            .title-container {
                display: grid;
                gap: 24px;

                .text {
                    h1 {
                        color: var(--Black, #000);
                        font-size: 56px;
                        font-weight: 600;
                        line-height: 120%;

                        span {
                            color: var(--Brand-green-Green-09, #008253);
                            font-size: 56px;
                            font-weight: 600;
                            line-height: 120%;
                        }
                    }
                }

                .content {
                    p {
                        color: var(--Black, #000);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }
            }

            .img-container {
                display: flex;
                gap: 27px;
                justify-content: center;

                img {
                    width: 100%;
                }
            }
        }

        .why-us-container {
            padding: 70px 100px;
            display: grid;
            gap: 80px;

            .title-container {
                h1 {
                    color: var(--Black, #000);
                    font-size: 56px;
                    font-weight: 600;
                    line-height: 120%;
                }
            }

            .content-container {
                display: flex;
                gap: 104px;

                .left-why-us {
                    width: 50%;

                    .comment-cursor-why-us {
                        margin-left: 60px;
                    }

                    p {
                        color: #000;
                        font-size: 32px;
                        font-weight: 600;
                        line-height: 120%;
                    }

                    button {
                        border-radius: 12px;
                        border: 1px solid var(--Black, #000);
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        background: transparent;

                        &:hover {
                            background: #000;
                        }

                        p {
                            color: var(--Black, #000);
                            text-align: center;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 150%;
                            padding: 10px 24px;
                            transition: all 0.5s ease;

                            &:hover {
                                color: white;
                            }
                        }
                    }
                }

                .right-why-us {
                    width: 50%;
                    display: grid;
                    gap: 16px;

                    .card-container {
                        border-radius: 16px;
                        background: var(--Neutral-05, #F5F8FB);
                        display: flex;
                        padding: 16px;
                        gap: 16px;

                        p {
                            color: var(--Black, #000);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }

                    .btn-right {
                        display: none;
                        button {
                            border-radius: 12px;
                            border: 1px solid var(--Black, #000);
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            transition: all 0.5s ease;
                            background: transparent;

                            &:hover {
                                background: #000;
                            }

                            p {
                                color: var(--Black, #000);
                                text-align: center;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 150%;
                                padding: 10px 24px;
                                transition: all 0.5s ease;

                                &:hover {
                                    color: white;
                                }
                            }
                        }
                    }

                }
            }
        }

        .simple-transparent-pricing-container {
            padding: 70px 100px;
            display: grid;
            gap: 80px;

            .title-container {
                h1 {
                    color: var(--Black, #000);
                    text-align: center;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 56px;
                    font-weight: 600;
                    line-height: 150%;
                }
            }

            .content-container {
                display: flex;
                gap: 24px;

                .content-item {
                    border-radius: 16px;
                    background: var(--Neutral-05, #F5F8FB);
                    backdrop-filter: blur(20px);
                    padding: 32px;
                    display: grid;
                    gap: 24px;

                    .title-content-container {
                        display: grid;
                        gap: 24px;

                        h3 {
                            color: var(--Black, #000);
                            font-size: 32px;
                            font-weight: 600;
                            line-height: 120%;
                        }

                        p {
                            color: var(--Black, #000);
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }

                        .price {
                            color: var(--Black, #000);
                            font-size: 48px;
                            font-weight: 600;
                            line-height: 150%;

                            span {
                                color: var(--Gray-50, #8C8C8C);
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }
                    }

                    button {
                        border-radius: 12px;
                        background: var(--Brand-green-Green-09, #008253);
                        height: 48px;
                        padding: 10px 24px;
                        align-self: stretch;
                        color: var(--White, #FFF);
                        text-align: center;
                        font-size: 16px;
                        font-weight: 500;
                        width: 100%;
                        line-height: 150%;
                        border: 1px solid transparent;
                        cursor: pointer;
                        transition: all 0.5s ease;

                        &:hover {
                            background: #000;
                            color: #FFF;
                        }
                    }

                    .item {
                        display: grid;
                        gap: 20px;

                        h4 {
                            color: var(--Black, #000);
                            font-feature-settings: 'clig' off, 'liga' off;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 150%;
                        }

                        ul {
                            display: grid;
                            gap: 16px;

                            li {
                                display: flex;
                                gap: 16px;

                                p {
                                    color: var(--Black, #000);
                                    font-size: 16px;
                                    font-weight: 300;
                                    line-height: 150%;
                                }
                            }
                        }
                    }
                }

                .content-item-popular {
                    border-radius: 16px;
                    background: var(--Yellow-Main, #FAF200);
                    backdrop-filter: blur(20px);
                    padding: 32px;
                    display: grid;
                    gap: 24px;

                    .title-content-container {
                        display: grid;
                        gap: 24px;
                        position: relative;

                        .group96 {
                            position: absolute;
                            right: -30px;
                            top: -90px;
                        }

                        h3 {
                            color: var(--Black, #000);
                            font-size: 32px;
                            font-weight: 600;
                            line-height: 120%;
                        }

                        p {
                            color: var(--Black, #000);
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }

                        .price {
                            color: transparent;
                            font-size: 48px;
                            font-weight: 600;
                            line-height: 150%;

                            span {
                                color: transparent;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }
                    }

                    button {
                        border-radius: 12px;
                        background: #FFF;
                        height: 48px;
                        padding: 10px 24px;
                        align-self: stretch;
                        color: var(--black, #000);
                        text-align: center;
                        font-size: 16px;
                        font-weight: 500;
                        width: 100%;
                        line-height: 150%;
                        border: 1px solid transparent;
                        cursor: pointer;
                        transition: all 0.5s ease;

                        &:hover {
                            background: #000;
                            color: #FFF;
                        }
                    }

                    .item {
                        display: grid;
                        gap: 20px;
                        background: var(--Yellow-Main, #FAF200);

                        h4 {
                            color: var(--Black, #000);
                            font-feature-settings: 'clig' off, 'liga' off;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 150%;
                        }

                        ul {
                            display: grid;
                            gap: 16px;

                            li {
                                display: flex;
                                gap: 16px;

                                p {
                                    color: var(--Black, #000);
                                    font-size: 16px;
                                    font-weight: 300;
                                    line-height: 150%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .our-projects-container {
            margin: 70px;
            border-radius: 16px;
            background: #F8F6F1;
            padding: 80px 0;

            .title-container {
                text-align: center;
                position: relative;

                h1 {
                    color: var(--Black, #000);
                    text-align: center;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 56px;
                    font-weight: 600;
                    line-height: 150%;

                    span {
                        color: var(--Brand-green-Green-09, #008253);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-size: 56px;
                        font-weight: 600;
                        line-height: 150%;
                    }
                }

                img {
                    position: absolute;
                    top: 60px;
                    right: 200px;
                }
            }

            .content-container {
                text-align: center;
                margin-top: 80px;
                gap: 24px;
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: auto auto auto;
                justify-content: center;
            }

            .btn-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 75px;

                button {
                    border-radius: 12px;
                    border: 1px solid var(--Black, #000);
                    background: transparent;
                    padding: 10px 24px;
                    justify-content: center;
                    align-items: center;
                    color: var(--Black, #000);
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 150%;
                    cursor: pointer;
                    transition: all 0.5s ease;

                    &:hover {
                        background: #000;
                        color: white;
                    }
                }
            }
        }

        .our-partners-container {
            padding: 70px 100px;
            display: grid;
            gap: 40px;

            h1 {
                color: var(--Black, #000);
                text-align: center;
                font-feature-settings: 'clig' off, 'liga' off;
                font-size: 56px;
                font-weight: 600;
                line-height: 150%;

                span {
                    color: var(--Brand-green-Green-09, #008253);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 56px;
                    font-weight: 600;
                    line-height: 150%;
                }
            }

            .content {
                color: var(--Black, #000);
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;
            }

            .content-container {
                display: grid;
                gap: 80px;
                grid-template-rows: auto auto;
                grid-template-columns: auto auto auto auto auto;
                justify-content: center;
            }
        }

        .page07-container {
            position: relative;
            margin: 70px 100px 140px;
            display: grid;
            justify-content: center;

            .form-container {
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 59px 105px;
                border-radius: 24px;
                border: 1px solid var(--Neutral-20, #E2E8F0);
                background: #FFF;
                display: grid;
                gap: 40px;
                max-width: 800px;
                width: 100%;

                h1 {
                    color: var(--Black, #000);
                    text-align: center;
                    font-family: Poppins;
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }

                .input-container {
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    gap: 16px;

                    input {
                        padding: 12px 24px;
                        align-items: center;
                        border-radius: 12px;
                        border: 1px solid var(--Neutral-20, #E2E8F0);
                        background: #FFF;
                        color: var(--Black, #000);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 150%;
                    }

                    .email-container {
                        display: grid;
                        gap: 16px;

                        p {
                            color: var(--Black, #000);
                            margin-left: 30px;
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 150%;
                        }
                    }

                    button {
                        height: 48px;
                        border-radius: 12px;
                        background: var(--Brand-green-Green-09, #008253);
                        padding: 10px 24px;
                        color: var(--White, #FFF);
                        text-align: center;
                        border: 1px solid transparent;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 150%;
                        cursor: pointer;
                        transition: all 0.5s ease;

                        &:hover {
                            color: white;
                            background: #000;
                        }
                    }
                }
            }
        }
    }
}

footer {
    margin: 70px 0 0 0;
    padding: 80px 0 40px 0;
    display: grid;
    gap: 80px;

    .footer-container {
        display: flex;
        gap: 120px;
        padding: 0 20px;

        .footer-item {
            display: flex;
            gap: 140px;
            justify-content: center;
            align-items: start;
            width: 100%;

            .footer {
                display: grid;
                gap: 24px;

                p {
                    color: var(--Black, #000);
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 150%;
                    text-transform: uppercase;
                }

                ul {
                    display: grid;
                    gap: 8px;

                    li {
                        display: flex;
                        gap: 8px;
                        justify-content: start;
                        align-items: start;

                        p {
                            color: var(--Gray-95, #141414);
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            text-transform: none;

                            &.email {
                                text-decoration-line: underline;
                            }
                        }
                    }
                }
            }

            .footer-icon {
                display: grid;
                gap: 24px;

                p {
                    color: var(--Black, #000);
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 150%;
                    text-transform: uppercase;
                }

                ul {
                    display: flex;
                    gap: 16px;
                }
            }
        }
    }

    .infomation-container {
        display: flex;
        gap: 40px;
        padding: 0 40px;
        justify-content: end;

        p {
            color: var(--Black, #000);
            text-align: right;
            font-size: 12px;
            font-weight: 400;
            line-height: 150%;
        }
    }
}

@media only screen and (max-width: 767.98px) {
    header {
        .phone-email-container {
            display: none;
        }

        .header-container {
            padding: 0 16px;

            .menu-container {
                display: none;
            }
        }
    }

    main {
        section {
            .design-development-container {
                padding: 140px 16px;

                .circle-container {
                    .circle {
                        width: 50px;
                        height: 50px;
                    }
                    .u-img {
                        left: 13px !important;
                        top: 15px !important;
                        width: 24px;
                        height: 24px;
                    }
                }
                
                .content-container {
                    gap: 8px;
                }

                .comment-cursor-container {
                    .comment-cursor-img {
                        right: -2% !important;
                        top: 40px;
                    }
                }

                h1 {
                    font-size: 28px;

                    span {
                        font-size: 28px;
                    }
                }
            }

            .rubber-laptop-mockup {
                padding: 0 16px;
            }

            .commonly-container {
                padding: 140px 16px 70px;

                .title-container {
                    .text {
                        h1 {
                            font-size: 32px;

                            span {
                                font-size: 32px;
                            }
                        }
                    }
                }

                .img-container {
                    display: grid;
                    gap: 24px;
                }
            }

            .why-us-container {
                padding: 70px 16px;
                gap: 40px;

                .title-container {
                    h1 {
                        font-size: 32px;
                        text-align: center;
                    }
                }

                .content-container {
                    display: grid;
                    gap: 24px;

                    .left-why-us {
                        width: 100%;

                        p {
                            font-size: 24px;
                            text-align: center;
                        }

                        .comment-cursor-why-us {
                            display: none;
                        }

                        button {
                            display: none;
                        }
                    }

                    .right-why-us {
                        width: 100%;

                        .btn-right {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            button {
                                display: block;
                            }
                        }

                    }
                }
            }

            .simple-transparent-pricing-container {
                padding: 70px 16px;
                gap: 40px;

                .title-container {
                    h1 {
                        font-size: 32px;
                    }
                }

                .content-container {
                    display: grid;
                }
            }

            .our-projects-container {
                margin: 0;
                padding: 50px 0;

                .title-container {
                    h1 {
                        font-size: 32px;

                        span {
                            font-size: 32px;
                        }
                    }

                    img {
                        display: none;
                    }
                }

                .content-container {
                    grid-template-rows: none;
                    grid-template-columns: none;
                    img {
                        max-width: 361px;
                        width: 100%;
                    }
                }
            }

            .our-partners-container {
                padding: 50px 16px;
                gap: 24px;

                h1 {
                    font-size: 32px;

                    span {
                        font-size: 32px;
                    }
                }

                .content-container {
                    gap: 24px;
                    grid-template-columns: auto auto;
                    grid-template-rows: none;
                    img {
                        max-width: 160px;
                        width: 100%;
                    }
                }
            }

            .page07-container {
                margin: 70px 16px 140px;

                .form-container {
                    top: 180%;
                    padding: 24px;
                    max-width: 320px;

                    h1 {
                        font-size: 32px;
                    }

                    .input-container {
                        display: grid;
                    }
                }
            }
        }
    }

    footer {
        margin: 300px 0 0 0;
        gap: 40px;

        .footer-container {
            display: grid;
            gap: 40px;

            .footer-item {
                display: grid;
                gap: 40px;

                .order {
                    order: 1;
                }

                .footer-icon {
                    order: 2;
                }
            }
        }

        .infomation-container {
            gap: 24px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}